:root {
	--white: hsl(0, 0%, 100%);
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--light-gray: hsl(0, 0%, 81%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------
	Style
	--------*/

body {
	background: var(--light-grayish-blue);
	color: var(--very-dark-grayish-blue);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 13px;
	font-weight: 500;
}

.quote-bg {
	background: url(../images/bg-pattern-quotation.svg);
	background-repeat: no-repeat;
	background-position: 80% 0;
}

.article-1 {
	background: var(--moderate-violet);
}

.article-2 {
	background: var(--very-dark-grayish-blue);
}

.article-3 {
	background: var(--white);
}

.article-4 {
	background: var(--very-dark-blackish-blue);
}

.article-5 {
	background: var(--white);
}

.grid-item {
	border-radius: 10px;
	box-shadow: 1.5em 1.5em 4.5em var(--light-gray);
}

.testimony-header {
	font-weight: 500;
}

.light-text {
	color: var(--white);
}

.profile-pic {
	border-radius: 50%;
}

.dark-bg {
	color: var(--light-gray);
}

.light-bg {
	color: var(--very-dark-grayish-blue);
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-70 {
	opacity: 0.7;
}

/*--------
	Layout
	--------*/

body {
	width: 100vw;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}

.grid-wrap {
	width: min(1110px, 85%);
	height: min(575px, 100%);
	margin: 11vw 0;

	display: grid;
	grid-gap: 25px 30px;
	grid-auto-columns: 1fr;
	grid-template-areas: 
		"i1"
		"i2"
		"i3"
		"i4"
		"i5";
}

.quote-bg {
	padding: 2.5em;
}

.article-1 {
	grid-area: i1;
}

.article-2 {
	grid-area: i2;
}

.article-3 {
	grid-area: i3;
}

.article-4 {
	grid-area: i4;
}

.article-5 {
	grid-area: i5;
}

.grid-item:not(:first-child) {
	padding: 2.5em;
}

.personal-wrap {
	display: flex;
	margin-bottom: 1.75em;
}

.profile-pic {
	width: 27px;
	height: 27px;
}

.personal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 1.5em;
}

.testimony-header {
	margin-bottom: 1em;
}

@media (min-width: 550px) {
	.grid-wrap {
		grid-template-areas: 
			"i1 i1"
			"i2 i3"
			"i4 i4"
			"i5 i5";
	}
}

@media (min-width: 790px) {
	.grid-wrap {
		grid-template-areas: 
			"i1 i1 i2"
			"i3 i4 i4"
			"i5 i5 i5";
	}
}

@media (min-width: 1100px) {
	.grid-wrap {
		grid-template-areas: 
			"i1 i1 i2 i5" 
			"i3 i4 i4 i5";
	}
}
